// colors

$primary-color-dark: #388e3c;
$primary-color: #4caf50;
$primary-color-light: #c8e6c9;
$primary-color-text: #ffffff;
$accent-color: #ff9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$color-1: #32936f;
$color-2: #2274a5;
$color-3: #e83f6f;
$color-4: #ffaa00;

// padding & margin
$unit: 16px;

// breakpoint

$mobile: 768px;
$tablet: 1024px;
$laptop: 1440px;
